:root {
  --font-family: 'Roboto Mono', monospace;
  --font-family-two: 'Source code pro';

  --color-dark: #171717;
  --color-medium: #444444;
  --color-light: #EDEDED;
  --color-cyberCherry: #DA0037;

  --color-petrol: #1a202c;
  --color-petrol-light: #313c53;
}